certifi==2020.12.5
chardet==4.0.0
click==7.1.2
docopt==0.6.2
Flask==1.1.2
flask-ngrok==0.0.25
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pipreqs==0.4.10
requests==2.25.1
urllib3==1.26.4
Werkzeug==1.0.1
yarg==0.1.9
